/****** Object:  StoredProcedure [dbo].[SP_Lay_BangDiem]    Script Date: 6/17/2023 7:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Lay_BangDiem] (
	@MALOP NCHAR(15)
	, @MAMH NCHAR(15)
	, @LAN SMALLINT
)
AS 
SELECT DSSV.MASV, HO, TEN, DIEM, dbo.FN_Chuyen_Diem_Thanh_Chu(DIEM) AS DIEMCHU
FROM (SELECT MASV, HO, TEN FROM SINHVIEN WHERE MALOP = @MALOP) AS DSSV
JOIN (SELECT MASV, DIEM FROM BANGDIEM WHERE MAMH = @MAMH AND LAN = @LAN) AS DSDIEM
on DSSV.MASV = DSDIEM.MASV